extend layout

block content
  p
    | my first node js project 
    | Node is a great language to serve HTML websites with dynamic data.
    | node is awesome
    
  p
    | A very quick introduction to Node. Learn the basics of Node and how it gets and serves data to users. 
    | Create a server, display some HTML, learn templating with EJS, and serve assets to create a simple website

block sidebar
  .widget
    h1 Widget
    p
      | beauty of learning node its simple
      | .
    
    p
      | my simple node project

      | .

