doctype html
html
  head
    title #{title} - My Simple Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 My Simple Site
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus for the first time
